body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo-container img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: contain;
    margin-left: 20px;
}

.title {
    flex-grow: 1;
    margin-left: 20px;
    font-size: 1.25rem;
    color: #007BFF;
}

nav .menu {
    display: flex;
    justify-content: flex-end;
}

.menu-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    padding: 10px 15px;
}

.menu-link-active {
    color: #ff4500;
}

.menu-link:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-left: 0;
        text-align: center;
        margin-top: 10px;
    }

    nav .menu {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
}
